<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>

    <h1>Homepage</h1>
    <h4><%= 'Hello World'.toLowerCase() %></h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur cupiditate natus nihil numquam magnam a exercitationem ullam! Explicabo, ipsa dignissimos. Praesentium aliquam doloribus ut accusamus quibusdam quas voluptates aperiam aspernatur, molestias sed et porro quo accusantium nobis, eaque tempore harum veniam hic placeat quam. Ipsam facilis unde sit soluta!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cum harum optio eligendi aperiam assumenda, atque quas, ab ratione a laborum veniam reprehenderit molestiae numquam quo molestias ducimus corporis sed delectus sapiente illo earum! Natus vitae odio, reiciendis atque veritatis commodi debitis error incidunt voluptatibus libero est architecto quo, harum suscipit voluptatem optio sint! Laboriosam molestias enim incidunt sint sapiente.</p>

<%- include('partials/footer.ejs') %>