<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>Random Number: <%= angka %></h1>
    <% if(angka % 2 === 0){ %>
        <h3>Ini angka Genap</h3>
    <% } else { %>
        <h3>Ini angka ganjil</h3>
    <% } %>


    <h3>Angka ini : <%=  angka % 2 === 0 ? 'even' : 'odd'  %></h3>
</body>
</html>